body {
	margin: 0;
	padding: 0;
	
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	font-family: poppins;
}
.contact-forms {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 600px;
	padding: 80px 40px;
	box-sizing: border-box;
	background-color: rgba(41, 39, 39, 0.3);
	box-shadow: 0 5px 30px black;
    
}

.contact-forms h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.contact-forms p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.contact-forms input {	
	border: none;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium;
	width: 90%;
	border-bottom: 2px solid white;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
	background-color: transparent;
	color: white;
}
.contact-forms input[type="text"], 
.contact-forms input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.contact-forms a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}


